body{
    background-color:#E8F1FA;
    color:#555;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16x;
    line-height:1.6em;
    margin:0;
}

.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}


#main-header{
    background-color : #0B1F3A;
    color:#fff;
}

#navbar{
    background-color : #1F2933;
    color:#38E8D1;
}

#navbar ul{
    padding:0;
    list-style:none;
    text-align:right;
}

#navbar li{
    display:inline;
}

#navbar a{
    color:#FFF;
    text-decoration: none;
    font-size:18px;
    padding-right:15px;
}

#navbar a:hover {
    color:red;
}


#showcase{
    background-image:url('../images/lock3.jpg');
    background-position:center right;
    min-height:300px;
    background-repeat:no-repeat;
    margin-bottom:30px;
    text-align: center;
    background-size:cover;
}

#showcase h1{
    color:Yellow;
    font-size:50px;
    line-height:1.6em;
    padding-top:30px;
}

#main{
    
    float:left;
    width:70%;
    padding:0 30px;
    box-sizing: border-box;
    font-size : 25px;
    
}

#sidebar{
    float:right;
    width:30%;
    background: #0B1F3A;
    color:#fff;
    padding:10px;
    box-sizing: border-box;
}

#sidebar ul{
    list-style: square;
}

#main-footer{
    background: #0B1F3A;
    color:#fff;
    text-align: center;
    padding:20px;
    margin-top: 80px;
}

@media(max-width:600px){
    #main{
        width:100%;
        float:none;
    }

    #sidebar{
        width:100%;
        float:none;
    }
}